<!DOCTYPE html>
<html>
    <head>
        <title>AQUANET</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <style>
            img {
                height:220px;
                width:240px;
                margin-left:42%;
                margin-right:auto;
            }

            p {
                text-align:center;
            }

            #test {
                text-align:center;
                margin:20px;
            }

            #button, #button2, #button3 {
                padding-left:70px;
                padding-right:70px;
                padding-top:7px;
                padding-bottom:7px;
            }

            #meteo {
                text-align:center;
            }

            #dataTable {
                margin-left:34%;
                margin-right:auto;
                text-align:center;
            }

            div {
                margin-top:10px;
                margin-bottom:10px;
            }

            #noTempest {
                display:none;
            }

            #tempestAlert {
                display:none;
            }

            html {
                background-color:#D3E3FA;.
            }
        </style>
    </head>
        {% block body %}
        {% endblock %}
</html>
