<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AQUANET{% endblock %}</title>
        <style>
            img {
                height:120px;
                width:180px;
                margin-left:44%;
                margin-right:auto;
            }

            p {
                text-align:center;
            }

            #test {
                text-align:center;
                margin:20px;
            }

            #button, #button2, #button3 {
                padding-left:70px;
                padding-right:70px;
                padding-top:7px;
                padding-bottom:7px;
            }
        </style>
    </head>
    <body>
        <div>
            <img src="images/logo_workshop.png" alt="logo" style/>
        </div>
        <div id="test">
            <input id="button" type="button" value="Parc 1">
        </div>
        <div id="test">
            <input id="button2" type="button" value="Parc 2">
        </div>
        <div id="test">
            <input id="button3" type="button" value="Parc 3">
        </div>

        <script>
            let btn = document.querySelector('#button');
            let btn2 = document.querySelector('#button2');
            let btn3 = document.querySelector('#button3');

            btn.addEventListener('click', changeUrl);
            btn2.addEventListener('click', changeUrl);
            btn3.addEventListener('click', changeUrl);

            function changeUrl() {
                window.location.href = 'http://localhost:8000/zone';
            }
        </script>
    </body>