<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AQUANET{% endblock %}</title>
        <style>
            img {
                height:120px;
                width:180px;
                margin-left:44%;
                margin-right:auto;
            }

            p {
                text-align:center;
            }

            #test {
                text-align:center;
                margin:20px;
            }

            #button {
                padding-left:70px;
                padding-right:70px;
                padding-top:7px;
                padding-bottom:7px;
            }
        </style>
    </head>
    <body>
        <div>
            <img src="images/logo_workshop.png" alt="logo" style/>
        </div>
        <div id="test">
            <button id="button">Parc 1</button>
        </div>
        <div id="test">
            <button id="button">Parc 2</button>
        </div>
        <div id="test">
            <button id="button">Parc 3</button>
        </div>
    </body>