{% extends "base.html.twig" %}
{% block body %}
    <body>
        <div>
            <img src="images/logo_workshop.png" alt="logo" style/>
        </div>
        <div id="test">
            <a id="button" class="button is-link" value="Parc 1">Parc 1</a>
        </div>
        <div id="test">
            <a id="button2" class="button is-link" value="Parc 2">Parc 2</a>
        </div>
        <div id="test">
            <a id="button3" class="button is-link" value="Parc 3">Parc 3</a>
        </div>

        <script>
            let btn = document.querySelector('#button');
            let btn2 = document.querySelector('#button2');
            let btn3 = document.querySelector('#button3');

            btn.addEventListener('click', changeUrl);
            btn2.addEventListener('click', changeUrl);
            btn3.addEventListener('click', changeUrl);

            function changeUrl() {
                window.location.href = 'http://localhost:8000/zone';
            }
        </script>
    </body>
{% endblock %}